@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");

:root {
    font-family: "Inter", sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: rgb(191, 202, 211);

    position: relative;
}



