li {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 12px 7px rgb(63, 63, 63);

    background-color: rgb(216, 241, 233);
    background: linear-gradient(45deg, red, orange, rgb(106, 8, 119));

    @media (min-width: 768px) {
            flex-wrap: wrap;
            min-width: 400px;
        }

    .img {
        width: 70%;
        height: 400px;
        margin: 15px;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .info {
        width: 93%;
    }

    .genep {
        display: flex;
        justify-content: space-between;
        margin: 5px 0px;
    }

    .span {
        margin-bottom: 10px;
        line-height: 20px;
    }

    .description {
        margin: 5px 0px;
        font-weight: 600;
    }
}