.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 10px 0px;
    width: 100%;

    .input {
        width: 100%;

        @media (min-width: 768px) {
            width: 300px;
        }
    }

    label {
        margin-right: 5px;
    }

    input {
        width: 70%;
        height: 20px;
        border-radius: 5px;
        border: none;
    }

}

